<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <%- include('../partial/header') %> 
        <ul>
            <% result.forEach(person => { %>
            
            <img id src="<%= person.picture.large %> " alt="..." />
            <li><%= person.name.first %>, <%= person.name.last %> </li>
            <% }) %>
        </ul>
    </body>
</html>